<!DOCTYPE html>
<html>
        <head>

        </head>
        <body>
                <h2 class="header-error centered">500</h2>
                <h3 class="centered">Looks like we're having some server issues</h3>
                <p>Our server seems to be experiencing technical difficulty. Our development team has been notified and is working on a solution to fix the problem. We thank you for your patience.</p>
        </body>
</html>

<style>
  .card {
    margin: 0 auto;
    padding: 16px;
    width: 500px;
    height: 500px;
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      height: 500px;
    }
  }

  .centered {
    text-align: center;
  }

  .header-error {
    color: grey;
  }
</style>